* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.3rem;
}

.cont{
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.main-header{
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.main-header h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}

.main-header h1 span{
    color: black;
}

.main-header h1{
    color: grey;
}

.main-header p{
    font-size: 2rem;
    margin-bottom: 2rem;
}

img{
    width: 100%;
}

.tarj{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
    overflow: hidden;
}

.tarj h3{
    margin-bottom: 1rem;
}

.tarj img {
    height: 336.53px;
    width: 506.5px;
}

.tarj > div {
    padding: 1rem;
}

#btngal{
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
}




nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.61);
 }
 .navbar-material .nav-wrapper .brand-logo-center img {
    height: 64px;
}
#imglogo{
    width: 64px;
    height: 64px;
}
#contenedorvideo{
    margin-top: 100px;
    margin-bottom: 50px;
}
#imglogochico{
    height: 55px;
    width: 55px;
    display: none;
}


/*Device = Tablets, Ipads (portrait)
  Screen = B/w 600px to 990px*/
  @media (min-width:606px) and (max-width: 990px)  {
    #imglogochico{
        height: 55px;
        width: 55px;
        display: none;
    }
    .tarj{
        display: block;
    }
    .tarj img {
        height: 50%;
        width: 100%;
    }

}
/*  Small devices    */
@media (max-width:605px) {

    #imglogo{
        height: 55px;
        width: 55px;
        display: none;
    }
    #imglogochico{
        height: 55px;
        width: 55px;
        display: inline;
    }
    .tarj{
        display: block;
    }
    .tarj img{
        height: 50%;
        width: 100%;
    }


}
